<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neowutran.smsspammer.app" >


    <uses-permission
            android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sms"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        >


        <service
                android:name="com.neowutran.smsspammer.app.Daemon"
                android:label="SMS Daemon"
            android:icon="@drawable/sms"
                >
        </service>


        <receiver android:name=".OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.neowutran.smsspammer.app.UIReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="com.neowutran.smsspammer.app.Daemon" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.neowutran.smsspammer.app.sms.DeliveryListener" android:exported="false">
            <intent-filter>
                <action android:name="com.neowutran.smsspammer.app.sms.DELIVERED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.neowutran.smsspammer.app.sms.SentListener" android:exported="false">
            <intent-filter>
                <action android:name="com.neowutran.smsspammer.app.sms.SEND"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.neowutran.smsspammer.app.DaemonManager"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
